.main {
    align-items: center;
    flex-direction: row !important;
    gap: 0.6rem;
}

.logo {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.divider {
    height: 2rem !important;
}

.title {
    font-family: "宋体";
    font-size: 2rem;
}

.exit {
    color: var(--mms-head-nav-text-color) !important;
    border: 1px solid var(--mms-head-nav-text-color) !important;
    border-radius: var(--mms-border-radius-medium) !important;
    box-shadow:
        var(--mms-head-nav-text-color) 0 1px 2px inset,
        var(--mms-head-nav-text-color) 0 1px 0.5px;
}
